$negro: hsla(30, 11%, 4%, 1);
$anaranjado: hsla(1, 73%, 63%, 1);
$anaranjado_clarito: rgb(255, 107, 104);
$blanco: hsla(150, 8%, 95%, 1);
$blanco-transparente: hsla(150, 8%, 95%, .5);
$silver-chalice: #aeafafff;
$silver: rgb(241, 241, 241);
$negro-transparente: hsla(30, 11%, 4%, .3);
* {
    padding: 0px;
    margin: 0px;
}

header {
    height: 8vh;
    width: 100%;
    background-color: $anaranjado;
    padding: 0.2%;
    color: $negro;
    border-bottom: 1px solid $negro;
    font-family: 'popins';
    nav {
        color: $negro;
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 100%;
        list-style: none;
        text-align: center;
        a {
            width: 30%;
            text-decoration: none;
            color: $negro
        }
        .nav_sections {
            width: 30%;
            text-align: start;
            ul li {
                display: inline;
                padding: 1%;
                &:hover {
                    color: $negro;
                    cursor: pointer;
                    border-bottom: 1px solid $negro;
                }
            }
        }
        .logo {
            width: auto;
            img {
                width: 21%;
            }
        }
        .rs {
            width: 30%;
            text-align: end;
            ul {
                margin-right: 1%;
                li {
                    display: inline;
                    a {
                        color: $negro;
                        i {
                            padding: 1%;
                            font-size: x-large;
                            border: 1px solid transparent;
                            &:hover {
                                border-bottom: 1px solid $negro;
                            }
                        }
                    }
                    &:last-child {
                        padding: 1%;
                        &:hover {
                            border-bottom: 1px solid $negro;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }
}


/*-----------------------------------------MAIN------------------------------------------*/

main {
    height: calc(100vh-15vh);
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .carousel {
        width: 100%;
        .d-block {
            width: 100%;
            object-fit: cover;
            height: 450px;
        }
        border-bottom: 1px solid $negro;
        .inicio_sesion {
            display: none;
            position: absolute;
            top: 0;
            width: 25%;
            background-color: $blanco-transparente;
            height: 93%;
            left: 0;
            right: 0;
            margin: 0 auto;
            margin-top: 1%;
            flex-direction: column;
            flex-wrap: wrap;
            align-items: center;
            padding: 1%;
            i {
                font-size: 120px;
            }
            form {
                font-family: 'popins';
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                width: 100%;
                height: 40%;
                input {
                    left: 0;
                    right: 0;
                    margin: 0 auto;
                    margin-top: 5%;
                    border: none;
                    border-bottom: 1px solid $negro;
                    &:focus-within {
                        outline: none;
                    }
                }
                .btn_iniciar_sesion {
                    width: 30%;
                    border: none;
                    background-color: $anaranjado;
                    text-transform: uppercase;
                    padding: 1%;
                    border-bottom: 1px solid $negro;
                    &:hover {
                        box-shadow: 0 1px 15px 3px;
                        border: 1px solid $negro;
                    }
                }
            }
            p {
                margin-top: 1%;
                font-size: 11px;
                a {
                    text-decoration: none;
                    color: $negro;
                    width: auto;
                }
            }
            button {
                width: 7%;
                .cruz {
                    font-size: 25px;
                    width: 100%;
                    height: 100%;
                    background-color: $anaranjado;
                }
                &:focus {
                    background-color: $negro;
                }
            }
        }
    }
    .main_conteiner {
        width: 80%;
        margin: auto;
        margin-top: 1%;
        margin-bottom: 1%;
        background-color: $blanco-transparente;
        box-shadow: 0 0 10px 1px;
        .mainSection {
            margin: auto;
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            margin-bottom: 2%;
            margin-top: 2%;
            justify-content: center;
            h3 {
                width: 100%;
                text-align: center;
                margin-bottom: 1%;
                a {
                    width: auto;
                }
            }
            a {
                width: 100%;
                text-align: center;
                color: $negro;
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
                h3 {
                    width: 100%;
                }
            }
            .card {
                margin-right: 3%;
                border-color: $negro;
                width: 18rem;
                img {
                    height: 190px;
                    cursor: pointer;
                }
                .card-body {
                    h5 {
                        height: 6vh;
                    }
                    .card-text {
                        height: 7vh;
                        p {
                            height: 100%;
                        }
                    }
                    .btn {
                        margin: auto;
                        background-color: $anaranjado;
                        border-color: $negro;
                        text-align: center;
                        &:hover {
                            background-color: $negro;
                            color: $blanco;
                            transition: 500ms;
                            text-decoration: none;
                        }
                    }
                }
            }
            &:last-child {
                .card {
                    img {
                        object-fit: contain;
                    }
                }
            }
        }
    }
}

.main_crearCuenta {
    margin-top: 0%;
    background-color: $silver;
    height: calc(100vh - 28vh);
    .nav_crearCuenta {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 5vh;
        background-color: $negro;
        color: $blanco;
        i {
            margin-right: 5px;
            color: $blanco;
        }
        .registrate {
            margin-left: 20px;
            padding: 3px;
            span {
                font-size: 1.5em;
            }
            i {
                font-size: 30px
            }
        }
        a {
            color: $blanco;
            background-color: $anaranjado;
            text-decoration: none;
            width: 5%;
            text-align: center;
            margin-right: 1%;
            box-shadow: 0 1px 15px 3px;
            &:hover {
                background-color: $anaranjado_clarito;
            }
        }
    }
    .conteiner_crearCuenta {
        height: 90%;
        width: 70%;
        margin: auto;
        form {
            font-family: 'Poppins', sans-serif;
            font-weight: bold;
            background-color: white;
            width: 70%;
            height: 90%;
            display: flex;
            align-items: center;
            justify-content: space-around;
            flex-wrap: wrap;
            margin: auto;
            box-shadow: 1px 1px 10px 2px;
            .conteiner_input {
                width: 30%;
                input {
                    width: 70%;
                    margin-left: 2%;
                    border: none;
                    border-bottom: 1px solid $negro;
                    font-weight: bold;
                    &:focus {
                        outline: none;
                    }
                }
            }
            .conteiner_input_enviar {
                height: 7vh;
                display: flex;
                justify-content: center;
                width: 50%;
                #enviar {
                    font-family: 'Roboto', sans-serif;
                    font-weight: bold;
                    width: 30%;
                    border: none;
                    color: white;
                    margin: auto;
                    background-color: $anaranjado;
                    border: 1px solid $negro;
                    &:hover {
                        background-color: $anaranjado_clarito;
                    }
                }
            }
            .terminos_condiciones {
                width: 95%;
                a {
                    color: $anaranjado;
                    text-transform: lowercase;
                }
                label {
                    width: auto;
                    font-size: 11px;
                    vertical-align: middle;
                }
                input {
                    margin: 0;
                    vertical-align: middle;
                    width: auto;
                    transform: scale(0.8);
                    margin-left: 5px;
                }
            }
            .info {
                width: 95%;
                p {
                    border-left: 2px solid $anaranjado;
                    margin-top: 1%;
                    padding-left: 2%;
                    padding-right: 2%;
                    font-size: 10px;
                    text-align: justify;
                }
            }
        }
        .importante {
            background-color: $anaranjado;
            width: 70%;
            margin: auto;
            margin-top: 1%;
            box-shadow: 0 2px 3px 1px;
            span {
                padding-left: 1%;
                color: $blanco;
            }
        }
    }
}

.footer_index {
    background-color: $anaranjado;
    color: $negro;
    border-top: 1px solid $negro;
    height: 5vh;
    font-family: 'popins';
    .footer_contenido {
        img {
            width: 5%;
        }
    }
    p {
        text-align: center;
        padding: 7px;
        height: 100%;
    }
}

.footer_crearCuenta,
.footer_login {
    font-family: 'popins';
    background-color: $anaranjado_clarito;
    color: $negro;
    border-top: 1px solid $negro;
    height: 20vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    .footer_contenido {
        padding: 9px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        .footer_info {
            li {
                list-style: none;
            }
        }
        img {
            width: 6%;
        }
    }
    p {
        text-align: center;
        padding: 7px;
        height: 100%;
    }
    .copyright {
        background-color: $anaranjado;
        width: 100%;
        font-size: 11px;
        padding-top: 7px;
        p {
            text-align: center;
        }
    }
}


/*----------------------------------MEDIA QUERIES--------------------------------------------------*/

@media(max-width:1024px) {
    header {
        nav {
            height: 100%;
            .nav_sections {
                font-size: 1em;
                ul {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    text-align: start;
                    padding: 0;
                    height: 100%;
                    margin-bottom: 0;
                    li {
                        a {
                            width: auto;
                        }
                    }
                }
            }
        }
    }
    main {
        .carousel {
            .d-block {
                height: 300px;
            }
        }
        .main_conteiner {
            .mainSection {
                width: 100%;
                margin: auto;
                .card {
                    margin-bottom: 1%;
                    height: 25vh;
                    width: 180px;
                    margin-left: 5px;
                    margin-right: 5px;
                    img {
                        height: 50%;
                    }
                    .card-body {
                        padding: 0;
                        text-align: center;
                        h5 {
                            height: 4vh;
                        }
                        .card-text {
                            height: 4vh;
                            margin-bottom: 5px;
                            font-size: 12px;
                        }
                        .btn {
                            padding: 2px;
                            margin-top: 5px;
                            width: 50%;
                        }
                    }
                }
            }
        }
    }
}